{{#each this}}
    <li class="movies-list__item">
        <a class="movies-list__link" href="#">
            {{#if poster_path}}
            <img class="movies-list__image" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" loading="eager" alt="{{original_title}}"  data-id="{{id}}">
            {{else}}
            <img class="movies-list__image" src="https://raw.githubusercontent.com/dariaddz/DigitalUnicorns-Filmoteka/main/src/images/no-poster-big-1x.jpg" loading="lazy" alt="{{original_title}}" data-id="{{id}}">
            {{/if}}
            <div class="movies-list__container">
                <h3 data-id="{{id}}" class="movies-list__title">{{original_title}}</h3>
                <p class="movies-list__description">{{#each genre_ids}}{{this}}{{#unless @last}}, {{/unless}}{{/each}} | {{release_date}}</p>
            </div>
        </a>
    </li>
{{/each}}
